color_fondo = blue

body
	font-size 13px
	margin-top: 20px
	padding-top 50px
	padding-bottom 20px

legend
	*
		color black
		text-decoration none

	a:hover
		color black
		text-decoration none

	span
		float right

#logo
	height 30px
	padding 0
	margin 0

#logo_empresa
	width 180px

#panel_filtros
	padding 0.4em
	margin 0.3em

#tabla_empresas, #tabla_productos
	max-width: 1280px !important
	overflow-x scroll !important
	overflow-y hidden !important

#tabla_paises
	max-width: 300px !important

#tabla_departamentos, tabla_ciudades, #tabla_barrios
	max-width: 300px !important
	overflow-x scroll !important
	overflow-y hidden !important

.alerta
	color orange

.clear
	clear both

.col-sm-1
	border 1px solid black

.contenedor_balance
	padding-left 2em

.derecha
	float right
	
.error
	color red

.exito
	color green

.alinear_centro
	text-align center
	
.alinear_derecha
	text-align right

.badge-exito
		background-color #62B55D

.badge-error
		background-color #CD1717

.icono_balance
	color black
	float right
	text-decoration none

.icono
	text-decoration none
	color black
	cursor pointer

.info
	color blue

.oculto
	display none

.mensaje
	font-size 0.9em	

.menu
	position fixed
	background-color #4A6492 !important

.menu_principal
	a
		color white !important
		
	:hover
		color gray !important
